
<!--heads up: html head opens section div which is closed here (or by any section markers) -->
</div>
<!-------------------- END CONTENT DIV ----------------------->
</div>
</div>
</div>


<div class="c-veil js--c-veil"></div>

<div class="[ c-presentation-label ]">
    <div class="[ c-presentation-label__text js--c-presentation-label__text ]"><- Use arrow keys -></div>
</div>

<div class="[ u-pad-b-1x u-pad-t-1x  ]">
    <div class="[ o-wrap o-wrap--size-tiny o-wrap--portable-size-minuscule u-pad-b-2x ]">
        <footer class="[ c-footer ]"></footer>
    </div>
    <div class="[ o-wrap o-wrap--size-medium ]">
        <footer class="[ c-footer ] [ u-text-align--center u-font-size--a u-opacity--half ]">
            <div class="[ grid ]">
                <div class="[ c-footer__item ] [ grid__item one-whole ]">
                    <p>{{copyright}}</p>
                    <p>Javascript and CSS styling shamelessly borrowed from <a href="http://nono.ma" title="Nono Martinez Alonso">Nono Martinez Alonso</a><br>Layout and format inspired by <a href="https://frankchimero.com/writing/designing-in-the-borderlands/" title="Frank Chimero">Frank Chimero</a></p>
                </div>
            </div>
        </footer>
    </div>
</div>

<link rel="stylesheet" href="css/default.min.css">
<script src="js/vendor/jquery-3.2.1.min.js"></script>
<script src="js/vendor/sizzle.min.js"></script>
<script src="js/vendor/jquery.unveil.js"></script>  
<script src="js/vendor/velocity.min.js"></script>
<script src="js/vendor/mobile-detect.min.js"></script>
<script src="js/vendor/isInViewport.min.js"></script>

<script src="js/local_foot.js"></script> <!-- ksteinfe moved local js to external js -->

</body>
</html>
