<!--heads up: html head opens section div which is closed here (or by any section markers) -->
</div>
<!-------------------- END CONTENT DIV ----------------------->
</div>


<div class="veil"></div>

<div class="presentation_control_wrapper">
    <div class="presentation_control"><- Use arrow keys -></div>
</div>

<footer class="">
    <p>{{copyright}}</p>
    <p>Javascript and CSS styling shamelessly borrowed from <a href="http://nono.ma" title="Nono Martinez Alonso">Nono Martinez Alonso</a><br>Layout and format inspired by <a href="https://frankchimero.com/writing/designing-in-the-borderlands/" title="Frank Chimero">Frank Chimero</a></p>
</footer>

<link rel="stylesheet" href="css/default.min.css">
<script src="js/vendor/jquery-3.2.1.min.js"></script>
<script src="js/vendor/sizzle.min.js"></script>
<script src="js/vendor/jquery.unveil.js"></script>  
<script src="js/vendor/velocity.min.js"></script>
<script src="js/vendor/mobile-detect.min.js"></script>
<script src="js/vendor/isInViewport.min.js"></script>

<script src="js/local_foot.js"></script> <!-- ksteinfe moved local js to external js -->

</body>
</html>