<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito|Oswald:200,300,400,500,600,700">
	<meta charset="utf-8">
	<meta name="viewport" content="initial-scale=1, maximum-scale=1, minimal-ui"/>
	<title>Fresh Eyes</title>
    <link rel="stylesheet" type="text/css" href="css/layout.css" media="screen">
    <link rel="stylesheet" type="text/css" href="css/presentation.css" media="screen">
    <link rel="stylesheet" type="text/css" href="css/copy.css" media="screen">
    <link rel="stylesheet" type="text/css" href="css/simple-grid.min.css" media="screen">    
</head>
<body>
<!-- c-header-simple styling based on nono.ma, who based it on frankchimero.com -->
<header class="">
	<div class="container">
			<nav role="navigation" class="">
				<ul>
                    <li><a href="/ml.html" >ML 101</a></li>
                    <li><a href="/actors.html">Actors</a></li>
                    <li><a href="/critics.html" >Critics</a></li>
                    <li><a href="/optimizers.html" >Optimizers</a></li>
                    <li class="nav-sup" ><a href="/background.html" >Background</a></li>
                    <li class="nav-sup" ><a href="/participants.html" >Participants</a></li>
				</ul>
			</nav>          
	</div>
</header>

<style>
   
    
</style>

<!-------------------- START CONTENT ----------------------->
<div class="container">
