<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="initial-scale=1, maximum-scale=1, minimal-ui"/>
	<title>Fresh Eyes</title>
	<link rel="stylesheet" type="text/css" href="css/folio.css">
    <link rel="stylesheet" type="text/css" href="css/local_screen.css" media="screen">
    
    <script src="js/markdown-it.min.js"></script> <!-- ksteinfe added -->
</head>
<body>
<!-- c-header-simple styling based on nono.ma, who based it on frankchimero.com -->
<header class="[ c-header-simple ] [ c-header-simple--borderless c-header-simple--tight c-header-simple--nsight ]">
	<div class="[ o-wrap o-wrap--size-full ]">
		<a href="/" class="[ c-header-simple__name ]">
				<div class="[ -u-hidden ] [ c-header__icon-desktop ] [ o-icon-prototype o-icon-prototype--display-inline o-icon-prototype--size-logo-line-desktop-static ]">
					head icon svg here
				</div>
		</a>
			<nav role="navigation" class="[ c-header-simple__navigation ]">
				<ul>
                    <li><a href="/section_one" class="navigation-link js--navigation-link-says ]">Section One</a></li>
                    <li><a href="/section_two" class="navigation-link js--navigation-link-two ]">Section Two</a></li>
				</ul>
			</nav>
	</div>
</header>

<!-- ksteinfe added -->
<style>
    .slide.pagetitle {
      
    }
</style>


<div style="font-size:0.625em">
<div style="font-size:1em">
<div id="ksteinfe" class="[ c-item-v2 ] [ c-item-v2--indent c-item-v2--standard -c-item-v2--debug ]">
<!-------------------- START CONTENT DIV ----------------------->
<div class="slide c-item-v2__section slack js--press-slack">
<!--heads up: html head opens section div to be closed by first section marker (if any) or by html foot-->