/*
@font-face {
  font-family: 'ocr-b';
  src: url('OCR-B-regular-web.woff') format('woff'), 
   url('OCR-B-regular-web.ttf') format('truetype'); 
}
*/

.container {
    font-family: Nunito, Arial, sans-serif;
    color: #333447;
    line-height: 1.5;
    font-size: 1.125rem;
    font-weight: 200;
}

.slide.titleslide h1{
    font-size: 4rem;
    font-family: Oswald, Arial, sans-serif;
    line-height: 0.9;
    text-align: center;
    font-weight: 400;
}
.slide.titleslide h2{
    font-size: 2rem;
    font-family: Oswald, Arial, sans-serif;
    line-height: 0.9;
    text-align: center;
    font-weight: 200;
}

.slide.titleslide h2:before {
    display: block;
    content: '';
    position: relative;
    width: 50%;
    height: 1px;
    left: 25%;
    top: -1rem;
    background-color: #aaa;
}

.major_heading{
    /*font-family: ocr-b;*/
    font-family: Oswald;
    background-color: #333;
    color: white;
    text-align: center;
    font-size: 1.8rem;
    padding: 1em;
}

@keyframes blinker { 50% { opacity: 0; } }
.non-ascii{ background: red; color: white; animation: blinker 1s linear infinite; }


h1 { font-size: 2.5rem }
h2 { font-size: 2rem}
h3 { font-size: 1.375rem}
h4 { font-size: 1.125rem}
h5 { font-size: 1rem}
h6 { font-size: .875rem}



.font-light { font-weight: 300}
.font-regular { font-weight: 400}
.font-heavy { font-weight: 700}
.left { text-align: left}
.right { text-align: right}
.center { text-align: center}
.justify { text-align: justify}