


.slide.titleslide h1{
    font-size: 4em;
    font-family: BlinkMacSystemFont,franklin-gothic-urw,sans-serif;
    line-height: 0.9;
    text-align: center;
}

.major_heading{
    background-color: #666;
    color: white;
    text-align: center;
    font-size: 1.8em;
    font-style: oblique;
    padding: 1em;
}

@keyframes blinker { 50% { opacity: 0; } }
.non-ascii{ background: red; color: white; animation: blinker 1s linear infinite; }