
*,:after,:before{
    box-sizing:border-box
}

p:empty {
   display: none;
}

/*p:not(:first-child) {    background-color: #900; }*/
div.row p + p {  margin-top: 0.5rem; } /* selects all p that follow p in div.row*/


#presentation-instructions{
    position: absolute;
    top: 2.5rem;
    left: calc(50% - 150px);
    width: 300px;
    height: 2rem;
    z-index: 999;
    border-radius: 0.5rem;
    text-align: center;
    opacity: 0;
}

.slide.titleslide {
    padding-top: 0px;
    margin-bottom: 4rem;
}

.row figure video{
    max-width: 100%;
}

.row figure{
    text-align: center;
}

.row figure.limit,.row img.limit,.row video.limit,.limit img{
    max-width:12em;
    margin:3em auto
}
.row figure.full,.row img.full,.row video.full,.full img{
    max-width:100%;
}
.row figure.wide,.row img.wide,.row video.wide,.wide img{
    max-width:50em
}
.row figure.bleed,.row img.bleed,.row video.bleed,.bleed img{
    max-width:none;
    width:calc(100% + 2 * 27px);
    margin-left:calc(-1 * 27px)
}

figure.cropcircle img{
    object-fit: cover;
    border-radius: 50%;
}

.row p.aside,.row span.aside{
    font-family:BlinkMacSystemFont,franklin-gothic-urw,sans-serif;
    font-size:calc(.6 * 1em);
    max-width:calc(30em / .6);
    color:rgba(0,0,0,0.5)
}
.row span.aside{
    line-height:1.4em;
    float:center;
    clear:both;
    display:block;
    margin:1em 0
}


@media all and (min-width:60rem){
    .row p.aside,.row span.aside{
        position: absolute;
        left: -110px;
        top: 0px;
        color:rgba(0,0,0,.55);
        width:110px;
    }
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav li { float: left; }
nav li.nav-sup { float: right; }


nav li a {
    display: block;
    text-align: center;
    padding: 0.5rem 1rem;
    text-decoration: none;
}

